.icon {
    display: inline-block;
    margin-right: 5px;
    background-image: url(../images/icons.png);
    background-repeat: no-repeat;
    vertical-align: middle
}

.icon-alipay, .icon-info {
    background-position: -219px -128px;
    width: 22px;
    height: 16px
}

.icon-info {
    background-position: -259px -128px;
    width: 16px
}

.icon-weixin {
    background-position: -241px -128px;
    width: 18px;
    height: 16px
}

.icon-yeepay {
    background-position: -196px -128px;
    width: 23px;
    height: 17px
}

.recharge-failure {
    background-position: 0 0;
    width: 196px;
    height: 271px
}

.recharge-success {
    background-position: -196px 0;
    width: 127px;
    height: 128px
}

.g-wrap {
    margin-bottom: 100px;
    border: 1px solid #cfcfcf;
    border-top: 0
}

.g-wrap .pw-title {
    margin: 30px 0 20px
}

.content {
    margin-left: 240px;
    padding: 40px;
    width: 1018px;
    background-color: #fff
}

@media screen and (max-width: 1280px) {
    .content {
        width: 998px
    }
}

.content .separate {
    border: 0;
    border-bottom: 1px solid #ececec
}

.content .explain .explain-title {
    margin: 15px 0;
    color: #6d6d6d
}

.content .explain .explain-list {
    display: none;
    padding-left: 20px;
    list-style-type: decimal;
    color: #a1a1a1;
    line-height: 1.8em
}

.content .explain .explain-list.active {
    display: block
}

.content .explain .explain-list li.danger {
    color: #e0504d
}

.triangle {
    display: inline-block;
    border: 5px solid transparent
}

.triangle.left {
    border-right-color: #6d6d6d;
    border-left-width: 0
}

.triangle.right {
    border-left-color: #6d6d6d;
    border-right-width: 0
}

.triangle.top {
    border-bottom-color: #6d6d6d;
    border-top-width: 0
}

.triangle.bottom {
    border-top-color: #6d6d6d;
    border-bottom-width: 0
}

.sidebar {
    top: 0;
    left: 0;
    width: 240px;
    height: 100%;
    background-color: #f6f6f6;
    border-right: 1px solid #4FC3BA
}

.sidebar .subnav {
    margin: 50px 0
}

.sidebar .subnav ul {
    margin-left: -1px;
    margin-right: -1px
}

.sidebar .subnav li {
    margin-bottom: 5px
}

.sidebar .subnav li.active a {
    background-color: #fff;
    border-color: #ff8e32;
    border-right-color: #fff
}

.sidebar .subnav a {
    display: block;
    padding: 15px 35px;
    color: #6d6d6d;
    border: 1px solid #f6f6f6;
    border-left-color: #cfcfcf;
    border-right-color: #ff8e32
}

.sidebar .subnav a:hover {
    background-color: #fff
}

.sidebar .subnav a .icon {
    margin-right: 25px
}

.sidebar .subnav a .icon-weixin {
    margin-right: 30px
}

.sidebar .subnav a .icon-alipay {
    margin-right: 26px
}

.help-wrap {
    padding: 50px 0;
    background-color: #f4f4f4
}

.help-wrap .lnk-box {
    float: left;
    width: 25%;
    line-height: 2em;
    color: #a9a9a9
}

.help-wrap .lnk-box a {
    color: #a9a9a9
}

.help-wrap .lnk-box a:hover {
    color: #239cf0
}

.help-wrap .lnk-box .online {
    color: #a9a9a9;
    border: 1px solid #ddd;
    padding: 2px 10px;
    background-color: #fff;
    border-radius: 3px
}

.help-wrap .h-title {
    font-size: 16px;
    color: #6d6d6d;
    margin-bottom: 10px
}

.help-wrap dl {
    margin: 0
}

.help-wrap dl dt {
    float: left;
    width: 80px
}

.help-wrap dl dd {
    margin-left: 80px
}

.ad-wrap .ad {
    display: block;
    height: 165px;
    background: url(../images/pay_ad.png) no-repeat 50% 100%
}

.ad-wrap .bg-block {
    bottom: 0;
    width: 100%;
    background-color: #47a6ff;
    height: 111px
}

.pay-wrap .pay-title {
    margin-top: 0;
    color: #a1a1a1;
    font-size: 15px;
    font-weight: 400
}

.pay-wrap .game-list li.active, .pay-wrap .game-list li:hover, .pay-wrap .pay-title .pay-mode, .pay-wrap .recharge-account, .pay-wrap .server-list li.active, .pay-wrap .server-list li:hover {
    color: #ff8e32
}

.pay-wrap .game-name, .pay-wrap .server-name {
    display: inline-block;
    margin-right: 30px;
    padding-right: 50px;
    width: 260px;
    line-height: 50px;
    background-color: #ebebeb;
    color: #6d6d6d;
    border-radius: 3px;
    cursor: pointer
}

.pay-wrap .game-name .arrow, .pay-wrap .server-name .arrow {
    top: 0;
    right: 0;
    width: 50px;
    height: 100%;
    background-color: #dadada;
    border-radius: 0 3px 3px 0
}

.pay-wrap .game-name:hover, .pay-wrap .server-name:hover {
    background-color: #d2d2d2
}

.pay-wrap .game-name:hover .arrow, .pay-wrap .server-name:hover .arrow {
    background-color: #c1c1c1
}

.pay-wrap .game-list, .pay-wrap .server-list {
    top: 170px;
    padding: 15px 20px;
    width: 550px;
    background-color: #fff;
    border: 1px solid #ff8e32;
    cursor: default;
    text-align: left
}

.pay-wrap .game-list .triangle.top {
    top: -5px;
    left: 125px;
    border-bottom-color: #ff8e32
}

.pay-wrap .game-list .close, .pay-wrap .server-list .close {
    right: -1px;
    top: -1px;
    width: 30px;
    height: 30px;
    border: 1px solid #ff8e32;
    text-align: center;
    font-size: 26px;
    color: #8f8f8f;
    line-height: 1em;
    cursor: pointer
}

.pay-wrap .game-list li, .pay-wrap .server-list li {
    float: left;
    padding: 5px;
    width: 25%;
    line-height: 20px
}

.pay-wrap .game-list li .lbl-rdo, .pay-wrap .server-list li .lbl-rdo {
    position: relative;
    cursor: pointer
}

.pay-wrap .game-list li .lbl-rdo.disabled, .pay-wrap .server-list li .lbl-rdo.disabled {
    cursor: default;
    color: #777
}

.pay-wrap .game-list li .lbl-rdo.disabled .gicon-maintain, .pay-wrap .server-list li .lbl-rdo.disabled .gicon-maintain {
    position: absolute;
    margin: 1px 0 0 2px;
    height: 16px
}

.pay-wrap .game-list li .rdo-game, .pay-wrap .server-list li .rdo-game {
    margin: -1px 5px 0 0;
    vertical-align: middle
}

.pay-wrap .server-list .triangle.top {
    top: -5px;
    left: 415px;
    border-bottom-color: #ff8e32
}

.pay-wrap .pw-title {
    color: #a1a1a1
}

.pay-wrap .amount-list li, .pay-wrap .role-list li {
    float: left;
    margin: 0 2% 2% 0;
    padding: 10px 20px;
    border: 1px solid #e3e3e3
}

.pay-wrap .amount-list li {
    width: 18%
}

.pay-wrap .amount-list li.active, .pay-wrap .amount-list li:hover, .pay-wrap .role-list li.active, .pay-wrap .role-list li:hover {
    border-color: #4FC3BA;
    color: #4FC3BA;
    cursor: pointer
}

.pay-wrap .role-list li {
    width: 32%
}

.pay-wrap .other-amount {
    margin: 0 10px 0 5px;
    width: 100px
}

.pay-wrap .other-amount.active {
    border-color: #ff8e32
}

.pay-wrap .ingot, .pay-wrap .role-name {
    margin: 0 10px 0 5px;
    color: #ff8e32
}

.pay-wrap .ratio {
    color: #ff8e32
}

.pay-wrap .btn-wrap {
    margin: 70px 0
}

.pay-wrap .error-msg {
    margin-top: 10px;
    color: #d44950
}

.pay-backdrop, .pay-modal {
    display: none;
    position: fixed
}

.pay-backdrop {
    width: 100%;
    height: 100%;
    overflow: hidden;
    filter: alpha(opacity=50);
    opacity: .5;
    top: 0;
    left: 0;
    z-index: 99999;
    background-color: #000
}

.pay-modal {
    left: 50%;
    top: 50%;
    z-index: 100000;
    background-color: #fff;
    border-radius: 3px
}

.pay-modal .modal-close {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: #c2f0ff;
    font-size: 24px;
    background-color: #5992c5;
    text-align: center;
    line-height: 26px;
    cursor: pointer
}

.pay-modal .modal-close:hover {
    background-color: #3d79ae;
    color: #fff
}

.pay-modal .modal-header {
    padding: 10px 20px;
    color: #fff;
    background-color: #87b1d7
}

.pay-modal .modal-footer {
    padding: 40px 0;
    text-align: center
}

.qrcode-wrap {
    width: 500px;
    height: 440px;
    margin-left: -250px;
    margin-top: -220px
}

.qrcode-wrap .qrcode-body .qrcode img {
    margin: 0 auto;
    max-width: 100%
}

.qrcode-wrap .qrcode-body p {
    margin: 0;
    font-size: 16px
}

.end-wrap {
    width: 570px;
    margin-left: -285px;
    margin-top: -140px
}

.end-wrap .end-body {
    padding: 20px 100px 0
}

.end-wrap .end-body h3 {
    color: #7c9ab4
}

.end-wrap .btn-default {
    margin-left: 10px
}

.payend-wrap {
    padding: 100px;
    background-color: #fff
}

.payend-wrap .icon {
    margin: 0
}

.payend-wrap .recharge-success {
    margin-right: 69px
}

.payend-wrap .pay-info {
    float: left;
    margin-left: 100px
}

.payend-wrap .pay-info .title {
    margin-bottom: 20px;
    font-size: 18px;
    color: #7a7a7a
}

.payend-wrap .pay-info .table-form {
    margin-bottom: 30px;
    width: 500px
}

.payend-wrap .pay-info .btn-orange {
    margin-right: 20px
}