body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0}
table{border-collapse:collapse;border-spacing:0}
address,caption,cite,code,dfn,em,strong,th,var{font-weight:normal;font-style:normal}
ol,ul{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-weight:normal;font-size:100%}
q:before,q:after{content:''}
fieldset,img,abbr,acronym{border:0}
img{margin: 0;padding: 0;display: block;}
/* 页面样式 */
.c:before,.c:after {content:"";display:table}
.c:after {clear:both}
.c {zoom:1}
body {font-family:"\5FAE\8F6F\96C5\9ED1" !important;font-size: 14px !important;}
a {text-decoration:none;overflow:hidden;}
a {text-decoration:none;overflow:hidden;-webkit-transition: all .5s ease; -o-transition: all .5s ease;-moz-transition: all .5s ease;}
a:hover {text-decoration:underline}
a:focus{text-decoration: none;}
.wrap{width: 100%;min-width: 1200px;_width:expression((document.documentElement.clientWidth||document.body.clientWidth)<1002?'1000px':'');}
.n-container {width:1200px;margin:0 auto;}
.hide {display:block;width:0;height:0;overflow:hidden;}
.pr {position:relative;}
.pa {position:absolute;}
.fl {float:left;}
.fr {float:right;}
.db {display:block;text-indent:-999em;}
.sp{background: url(../images/m-sp.png) no-repeat;}
:focus{outline: none;}

/*框架*/
label{font-weight: normal !important;}

small{font-size: 100% !important;}
.modal-dialog{margin: 200px auto 0px !important;}
.modal-header{background-color: #4fc3ba;border-bottom: 1px solid #4fc3ba !important;font-size: 16px;color: #fff;}
.modal-footer{border-top: 1px solid #fff !important;background-color: #fff;}
.modal-body{background-color: #fff;}
/*公用*/
.border-gray{border:1px solid #e8e8e8;}
.border-none{border:none;}
.width200{width:215px;}
.min-height300{min-height:300px;}
.min-height400{min-height:400px;}
.min-height500{min-height:500px;}
.min-height600{min-height:600px;}
.min-height700{min-height:700px;}
.min-height800{min-height:800px;}
/*弹窗宽度*/
.pop700{width:700px;}
.pop600{width:600px;}
.pop500{width:500px;}
.pop400{width:400px;}
.pop300{width:300px;}
.mpd5{padding:5px;}
.mpd10{padding:10px;}
.mpd15{padding:15px;}
.mpd20{padding:20px;}
.mpd25{padding:25px;}
.mpd30{padding:30px;}
.mpd100{padding-top: 100px;padding-bottom: 100px;}
.mpdl10{padding-left:10px;}
.mpdl15{padding-left:15px;}
.mpdl20{padding-left:20px;}
.mpdl25{padding-left:25px;}
.mpdr10{padding-right:10px;}
.mpdr15{padding-right:15px;}
.mpdr20{padding-right:20px;}
.mpdr25{padding-right:25px;}
.mauto{margin-left: auto;margin-right: auto;}
.mt60{margin-top:60px;}
.mt50{margin-top:50px;}
.mt40{margin-top:40px;}
.mt30{margin-top:30px;}
.mt25{margin-top:25px;}
.mt20{margin-top:20px;}
.mt15{margin-top:15px;}
.mt10{margin-top:10px;}
.mt5{margin-top:5px;}
.mb60{margin-bottom:60px;}
.mb50{margin-bottom:50px;}
.mb40{margin-bottom:40px;}
.mb30{margin-bottom:30px;}
.mb25{margin-bottom:25px;}
.mb20{margin-bottom:20px;}
.mb15{margin-bottom:15px;}
.mb10{margin-bottom:10px;}
.mb5{margin-bottom:5px;}
.ml5{margin-left:5px;}
.ml10{margin-left:10px;}
.ml15{margin-left:15px;}
.ml20{margin-left:20px;}
.ml25{margin-left:25px;}
.ml30{margin-left:30px;}
.mr5{margin-right:5px;}
.mr10{margin-right:10px;}
.mr15{margin-right:15px;}
.mr20{margin-right:20px;}
.mr25{margin-right:25px;}
.mr30{margin-right:30px;}
/*青色*/
.mcyan{color:#4fc3ba !important;}
/*红色*/
.mred{color:#f93e53 !important;}
/*粉红色*/
.mpink{color:#ec5151 !important;}
/*棕色*/
.mbrown{color:#9c7602 !important;}
/*绿色*/
.mgreen{color:#65c65a !important;}
/*黄色*/
.myellow{color:#fb9437 !important;}
/*橘黄色*/
.morange{color:#f7824f !important;}
/*浅蓝色*/
.qmblue{color:#3094ed !important;}
/*蓝色*/
.mblue{color:#4c7cc6 !important;}
/*紫色*/
.mviolet{color:#6063b2 !important;}
/*黑色*/
.mblack{color:#000 !important;}
/*特浅灰色*/
.mgrayd3{color:#d3d3d3 !important;}
/*灰色深到浅*/
.mgray3{color:#333 !important;}
.mgray4{color:#444 !important;}
.mgray5{color:#555 !important;}
.mgray6{color:#666 !important;}
.mgray7{color:#777 !important;}
.mgray8{color:#888 !important;}
.mgray9{color:#999 !important;}
/*字体大小*/
.mft12{font-size:12px;}
.mft14{font-size:14px;}
.mft16{font-size:16px;}
.mft18{font-size:18px;}
.mft20{font-size:20px;}
.mft22{font-size:22px;}
.mft24{font-size:24px;}
.mft26{font-size:26px;}
.mft28{font-size:28px;}
.mft30{font-size:30px;}
/*按钮*/
.btn-cyan{display: block;background-color: #4fc3ba;border: 0;border-radius: 3px;color:#fff ;text-align: center;}
.btn-cyan:hover{background-color: #47afa7;text-decoration: none;color: #fff;}
.mbtn-sm{width: 39%;height: 38px;line-height: 36px;}
.mbtn-lg{width: 300px;height:45px;line-height: 45px;}
.mbtn-x{padding:5px 10px;color:#666;border-radius:5px;border:1px solid #fff;}
.mbtn-l{padding:8px 50px;color:#666;border-radius:5px;border:1px solid #fff;}
/*按钮灰色*/
.mbtn-gray{background-color:#bfbfbf;color:#fff;}
/*按钮青色*/
.mbtn-cyan{background-color:#4fc3ba;color:#fff;}
.mbtn-cyan-bd{background-color:#fff;color:#4fc3ba;border:1px solid #4fc3ba;}
/*head*/
.top{background-color: #252525;height: 40px;}
.home{line-height: 40px;padding-left: 90px;color: #898888;}
	.home em{font-size: 14px;color: #f6b000;padding-right: 5px;}
.top-neam{float: left;color: #fff;line-height: 40px;margin-right: 15px;}
	.top-neam em{background-position: -19px 0;width: 11px;height: 13px;float: left;margin:14px 5px 0px 0px ;}
	.top-neam a{color: #898888;}
	.top-neam a:hover,.game:hover{text-decoration: none;color: #F6B000;}
.game{float: right;color: #fff;line-height: 40px;padding: 0px 15px 0px;}
	.game em{background-position:  -36px 0;width: 14px;height: 14px;float: left;margin:14px 5px 0px 0px ;}
	.game-on{background-color: #303030;}
/*导航*/
.nav{background-color: #303030;height: 90px;}
	.logo{display: block;float: left;padding: 23px 0px 0px 53px;width: 211px;}
	.nav-right{float: right;line-height: 90px;}
		.nav-right a{padding: 0px 20px;font-size: 14px;color: #e9e9e9;}
		.nav-right a:hover{text-decoration: none;color: #4fc3ba;}
		.nav-on{color: #4FC3BA !important;}

/*content*/
.content{background-color: #f9f9f9;}
	.box{background-color: #f1f0f0;}
		.nav-left{width: 250px;padding-bottom: 30px;}
			.head-portrait{padding-top: 70px;padding-bottom: 60px;}
				.head-portrait img{display: block;width: 130px;height: 130px;margin: 0 auto 20px;border-radius: 500px;border: 3px solid #fff;}
				.head-portrait p{text-align: center;font-size: 14px;color: #393939;}
				.subNav{width:100%;height:70px;display:block;color:#777;font-size:14px;line-height:70px; border-bottom:1px solid #dbdbdb;}
		        .subNav:hover,.on-subNav{background-color:#4fc3ba !important;color:#fff !important;text-decoration:none;}
		            .nav-ic1,.nav-ic2,.nav-ic3,.nav-ic4{float:left;margin-left:70px;margin-right:10px;margin-top:28px;}
		            .nav-ic1{background-position:-91px -1px;width: 11px;height: 13px;}
		            .nav-ic2{background-position:-91px -1px;width: 11px;height: 13px;}
		            .nav-ic3{background-position:-91px -1px;width: 11px;height: 13px;}
		            .nav-ic4{background-position:-91px -1px;width: 11px;height: 13px;}
		            .subNav:hover .nav-ic1,.on-subNav .nav-ic1{background-position: -105px -1px;}
		            .subNav:hover .nav-ic2,.on-subNav .nav-ic2{background-position: -105px -1px;}
		            .subNav:hover .nav-ic3,.on-subNav .nav-ic3{background-position: -105px -1px;}
		            .subNav:hover .nav-ic4,.on-subNav .nav-ic4{background-position: -105px -1px;}
		            .subNav:hover .jt-right,.on-subNav .jt-right{background-position: -151px -2px;}
		            .jt-right{background-position: -140px -2px;width: 8px;height: 7px;float: right;margin-right: 20px;margin-top: 34px;}
		                .navContent a{padding-left:55px;font-size:14px;color:#777;height:32px;line-height:32px;display:block}
		                .navContent a:hover,.on-sun{color:#4fc3ba !important;text-decoration:none;}
		.box-right{background-color: #f9f9f9;width: 950px;min-height: 660px;padding: 38px 0px 38px 38px;*width: 912px;}
			.m-title{font-size: 18px;font-weight: bold;color: #4fc3ba;border-left: 5px solid #4fc3ba;padding-left: 10px;}

/*footer*/
.footer{background-color: #303030;padding: 35px 0px;}
	.ft-logo{display: block;margin-left: 80px;}
	.ft-right{width: 740px;padding-right: 40px;text-align: right;color: #dadada;}
		.ft-right a{color: #dadada;}
		.ft-right a:hover{text-decoration: none;color: #F6B000;}
		.ft-right em{background-position: -43px -52px;width: 20px;height: 20px;float: right;}
.fl-col{line-height: 35px;}
.mlabel em{margin-right: 10px;margin-left: 3px;}
.mlabel span{margin-right: 10px;margin-left: 3px;}
.mtble th{width: 200px;background-color: #f1f1f1}
.xy-ct{padding: 20px;background-color: #fff;margin-top: 90px;}
.wp-gray{background-color: #f1f1f1;}
.bag{background: url("../images/bag.jpg")no-repeat;width: 100%;height: auto;top: 0px;background-color: #f1f1f1;padding-bottom: 19px}
/*==========以下部分是Validform必须的===========*/
.Validform_checktip{
	/*margin-left:8px;*/
	line-height:20px;
	height:20px;
	overflow:hidden;
	color:#999;
	font-size:12px;
}
.Validform_right{
	color:#71b83d;
	padding-left:20px;
}
.Validform_wrong{
	color:red;
	padding-left:20px;
	white-space:nowrap;
}
.Validform_loading{
	padding-left:20px;
}
.Validform_error{
	background-color:#ffe7e7;
}
#Validform_msg{color:#7d8289; font: 12px/1.5 tahoma, arial, \5b8b\4f53, sans-serif; width:280px; -webkit-box-shadow:2px 2px 3px #aaa; -moz-box-shadow:2px 2px 3px #aaa; background:#fff; position:absolute; top:0px; right:50px; z-index:99999; display:none;filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#999999');}
#Validform_msg .iframe{position:absolute; left:0px; top:-1px; z-index:-1;}
#Validform_msg .Validform_title{line-height:25px; height:25px; text-align:left; font-weight:bold; padding:0 8px; color:#fff; position:relative; background-color:#000;}
#Validform_msg a.Validform_close:link,#Validform_msg a.Validform_close:visited{line-height:22px; position:absolute; right:8px; top:0px; color:#fff; text-decoration:none;}
#Validform_msg a.Validform_close:hover{color:#cc0;}
#Validform_msg .Validform_info{padding:8px;border:1px solid #000; border-top:none; text-align:left;}
